# Web and APIs
requests
python-dotenv
fastapi
flask
gunicorn

# Utils and CLI
tqdm
pyyaml
invoke
click
python-slugify

# Game development
pygame
pgzero
guizero

# Jupyter and visualization
jupyterlab
ipykernel
ipywidgets
matplotlib
seaborn
plotly
plotly-express

# Data analysis
numpy
pandas
scikit-learn
scipy
processing-py

# Computer vision
opencv-python

# Databases
redis
duckdb
sqlalchemy


# Geographic data
geopandas
contextily
folium
shapely
pyproj

# Data handling & processing
openpyxl
pyarrow
dask
beautifulsoup4
fastparquet

# Interactive dashboards
dash
panel
hvplot

# Utilities
joblib
pytest
black